# Fixed NumPy to bridge Python 3.12 and older ML libs
numpy==2.2.6
pandas==2.3.2

# Use the widely-used stable beta
pandas-ta==0.4.67b0

# The rest of your stack
vnstock==3.2.6
mlflow==2.21.1
scikit-learn==1.7.1
statsmodels==0.14.5
SQLAlchemy==2.0.41
psycopg2-binary==2.9.10
boto3==1.37.20
python-dotenv==1.0.1
requests==2.32.4
click==8.2.1